---
import { markdownify } from "@/lib/utils/textConverter";
import Button from "@/shortcodes/Button";
import { Icon } from "astro-icon/components";
import { TiTick } from "react-icons/ti";
import ImageMod from "../ImageMod.astro";

const { section_1 } = Astro.props;
---

<section class="section pt-14" data-aos="fade-up-sm">
  <div class="container">
    <div class="row max-lg:gy-5 items-stretch">
      <div class="col-12 lg:col-6" data-aos="fade-right-sm">
        <div class="relative">
          <ImageMod
            src={section_1.image}
            alt="about"
            width={609}
            height={636}
            class="h-full mx-auto"
          />
          <div
            class="absolute bottom-10 left-8 md:left-24 lg:left-10 flex flex-col gap-2"
          >
            {
              section_1.highlights.map((item: string) => (
                <div class="flex items-center mb-1 last:mb-0 bg-light w-fit rounded-full p-3 py-1">
                  <TiTick className="text-light bg-tertiary rounded-full mr-2 text-lg max-lg:text-xs" />
                  <p
                    set:html={markdownify(item)}
                    class="text-lg max-lg:text-xs"
                  />
                </div>
              ))
            }
          </div>
        </div>
      </div>
      <div class="col-12 lg:col-6" data-aos="fade-left-sm">
        <div class="flex flex-col justify-between h-full">
          <div>
            <h2
              set:html={markdownify(section_1.title)}
              class="mb-4 max-xl:h3 max-lg:text-center"
            />
            <p
              set:html={markdownify(section_1.content)}
              class="mb-4 max-lg:text-center text-text/70"
            />
          </div>

          <div>
            {
              section_1.features.map((item: string) => (
                <div class="flex items-center mb-4 last:mb-0 bg-light w-fit rounded-full p-3 py-1">
                  <Icon name="tick" class="text-tertiary mr-3 text-lg" />
                  <p set:html={markdownify(item)} class="text-xl" />
                </div>
              ))
            }

            {section_1.button.enable && (
              <Button
                label={section_1.button.label}
                link={section_1.button.link}
                className="mt-6 lg:mt-10"
              />
            )}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
