---
import { markdownify } from "@/lib/utils/textConverter";
import ImageMod from "../ImageMod.astro";
import DebugIcon from "@/components/DebugIcon.astro";
import Icon from "@/components/Icon.astro";

const { section_4 } = Astro.props;
---

<div class="bg-theme-light rounded-lg px-10 pt-10" data-aos="fade-up-sm">
  <div class="flex items-center justify-between mb-6">
    <h4
      class="max-xl:h5 text-center text-balance"
      data-aos="fade-up-sm"
      set:html={markdownify(section_4.title)}
    />
    <div class="bg-accent rounded-full p-3">
      <Icon name="workflow" class="w-6 h-6" />
    </div>
  </div>

  <p
    set:html={markdownify(section_4.content)}
    class="text-balance text-lg mb-6"
    data-aos="fade-up-sm"
  />

  <div class="flex gap-4" data-aos="fade-up-sm">
    <div class="flex-1 min-h-[209px]">
      <ImageMod
        class="object-contain w-full h-full"
        src={section_4.image_1}
        alt={section_4.title}
        width={623}
        height={209}
      />
    </div>
    <div class="min-h-[209px]">
      <ImageMod
        class="object-contain w-full h-full"
        src={section_4.image_2}
        alt={section_4.title}
        width={222}
        height={209}
      />
    </div>
  </div>
</div>
