---
import { markdownify } from "@/lib/utils/textConverter";
import ImageMod from "../ImageMod.astro";

const { hero } = Astro.props;
---

<section class="section">
  <div class="container">
    <div class="row justify-center text-center gy-4 mb-16">
      <div class="col-12" data-aos="fade-up-sm">
        <p set:html={markdownify(hero.badge)} class="text-secondary text-lg" />
      </div>
      <div class="col-12" data-aos="fade-up-sm">
        <h1 set:html={markdownify(hero.title)} class="max-xl:h2 text-balance" />
      </div>
      <div class="col-12" data-aos="fade-up-sm">
        <p set:html={markdownify(hero.content)} class="text-balance text-" />
      </div>
    </div>

    <div class="lg:max-w-[857px] mx-auto">
      <div
        class="flex flex-col md:flex-row justify-center md:items-stretch gap-6"
      >
        {
          hero.achievement.map((a: any, index: number) => (
            <div
              class="md:w-1/2  bg-light rounded-2xl px-9 md:px-3 lg:px-9 py-10 md:py-5 lg:py-10"
              data-aos="fade-up-sm"
              data-aos-delay={`${100 + index * 50}`}
            >
              <div class="flex items-center">
                <ImageMod
                  src={a.icon}
                  alt={a.icon}
                  width={60}
                  height={0}
                  class="mr-4"
                />
                <p
                  set:html={markdownify(a.details)}
                  class="font-medium lg:text-balance leading-6 text-base lg:text-lg"
                />
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
