---
import { markdownify } from "@/lib/utils/textConverter";
import { Icon } from "astro-icon/components";

const { compare } = Astro.props;
---

<div class="container">
  <div class="text-center lg:mb-8 lg:px-52" data-aos="fade-up-sm">
    <h2 class="max-xl:h3 mb-4" set:html={markdownify(compare.title)} />
  </div>

  <!-- Desktop View -->
  <div class="hidden md:block overflow-y-hidden">
    <table class="pricing-table w-full mb-0" data-aos="fade-up-sm">
      <thead>
        <tr>
          <th class="p-4"></th>
          {
            compare.plans.map((plan: any, index: number) => (
              <th
                class={`p-4 text-center ${index === 1 && "bg-theme-light rounded-t-lg"}`}
              >
                <p class="text-lg font-normal text-text/70">{plan.name}</p>
              </th>
            ))
          }
        </tr>
        <tr>
          <td class="p-4"></td>
          {
            compare.pricing.map((price: any, index: number) => (
              <td class={`p-4 text-center ${index === 1 && "bg-theme-light"}`}>
                <p class="text-3xl font-semibold">{price}</p>
              </td>
            ))
          }
        </tr>
        <tr>
          <th class="p-4"></th>
          {
            compare.buttons.map((button: any, index: number) => (
              <th class={`p-4 text-center ${index === 1 && "bg-theme-light"}`}>
                {button.button.enable && (
                  <a
                    href={button.button.link}
                    class="inline-block px-[14px] py-[12px] bg-transparent border border-dark rounded-full no-underline text-base hover:bg-dark hover:text-white transition-colors font-normal"
                    set:html={markdownify(button.button.label)}
                    target="_blank"
                    rel="noopener noreferrer"
                  />
                )}
              </th>
            ))
          }
        </tr>
      </thead>
      <tbody>
        {
          compare.features.map((feature: any, index: number) => (
            <>
              <tr
                class="border-b"
                data-aos="fade-up-sm"
                data-aos-delay={`${index * 100}`}
              >
                <td class={`p-4  ${index !== 0 && "pt-14"}`}>
                  <p class="font-semibold text-lg">{feature.name}</p>
                </td>
                {Array(compare.plans.length)
                  .fill(null)
                  .map((index) => (
                    <td class={`p-4 ${index === 1 && "bg-theme-light"}`} />
                  ))}
              </tr>
              {feature.feature.map((f: any) => (
                <tr
                  class="border-b"
                  data-aos="fade-up-sm"
                  data-aos-delay={`${index * 100}`}
                >
                  {f.details.map((detail: any, index: number) => (
                    <td
                      class={`p-4 ${index === 0 ? "text-left" : "text-center"} ${index === 2 && "bg-theme-light"}`}
                    >
                      <p class="text-lg">
                        {detail === true ? (
                          <Icon name="tick" class="mx-auto" />
                        ) : detail === false ? (
                          <Icon name="cross" class="mx-auto" />
                        ) : (
                          detail
                        )}
                      </p>
                    </td>
                  ))}
                </tr>
              ))}
            </>
          ))
        }
      </tbody>
    </table>
  </div>

  <!-- Mobile View -->
  <div class="md:hidden">
    {
      compare.plans.map((plan: any, planIndex: number) => (
        <div
          class="mb-8 overflow-hidden"
          data-aos="fade-up-sm"
          data-aos-delay={`${planIndex * 100}`}
        >
          <div class="p-4">
            <p class="text-lg font-semibold text-text/70 text-center">
              {plan.name}
            </p>
            <p class="text-center mt-2 font-semibold text-xl">
              {compare.pricing[planIndex]}
            </p>
            {compare.buttons[planIndex].button.enable && (
              <div class="text-center mt-4">
                <a
                  href={compare.buttons[planIndex].button.link}
                  class="inline-block px-[14px] py-[12px] bg-transparent border border-dark rounded-full no-underline text-base hover:bg-dark hover:text-white transition-colors"
                  set:html={markdownify(
                    compare.buttons[planIndex].button.label
                  )}
                  target="_blank"
                  rel="noopener noreferrer"
                />
              </div>
            )}
          </div>

          {compare.features.map((feature: any) => (
            <div class="p-4" data-aos="fade-up-sm">
              <h4 class="py-3 border-b font-semibold mb-2">{feature.name}</h4>
              {feature.feature.map((f: any) => (
                <div class="border-b flex items-center py-3">
                  <span class="text-gray-600 w-1/2">{f.details[0]}</span>
                  <span class="w-1/2 text-center">
                    {typeof f.details[planIndex + 1] === "boolean" ? (
                      f.details[planIndex + 1] ? (
                        <Icon name="tick" class="mx-auto" />
                      ) : (
                        <Icon name="cross" class="mx-auto" />
                      )
                    ) : (
                      f.details[planIndex + 1]
                    )}
                  </span>
                </div>
              ))}
            </div>
          ))}
        </div>
      ))
    }
  </div>
</div>
