---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import CallToAction from "@/partials/CallToAction.astro";
import { Icon } from "astro-icon/components";
import { getEntry, type CollectionEntry } from "astro:content";

const { contact_form_action }: { contact_form_action: string } = config.params;
const demo = (await getEntry("demo", "-index")) as CollectionEntry<"demo">;
const { title, description, meta_title, hero, feature } = demo.data;

const cta = (await getEntry("ctaSection", "call-to-action")) as CollectionEntry<"ctaSection">;
---

<Base title={title} meta_title={meta_title} description={description}>
  <section class="section" data-aos="fade-up-sm">
    <div class="container">
      <div data-aos="fade-up-sm" class="mb-16">
        <h1
          set:html={markdownify(hero.title)}
          class="text-center max-xl:h2 mb-6"
        />
        <p
          set:html={markdownify(hero.content)}
          class="text-center text-balance"
        />
      </div>

      <div class="row items-end gy-5">
        <div class="col-12 md:col-6" data-aos="fade-up-sm">
          <div class="p-8 md:p-16 shadow-lg rounded-2xl">
            <form action={contact_form_action} method="POST">
              <div class="row">
                <div class="col-12">
                  <div class="mb-6">
                    <label for="f-name" class="form-label"> Your Name </label>
                    <input
                      id="f-name"
                      name="f-name"
                      class="form-input"
                      placeholder="Enter your name"
                      type="text"
                      required
                    />
                  </div>
                </div>
                <div class="col-12">
                  <div class="mb-6">
                    <label for="f-email" class="form-label">Your Email</label>
                    <input
                      id="f-email"
                      name="f-email"
                      class="form-input"
                      placeholder="Enter your email"
                      type="email"
                      required
                    />
                  </div>
                </div>
                <div class="col-12">
                  <div class="mb-6">
                    <label for="f-company" class="form-label"
                      >Your Company</label
                    >
                    <input
                      id="f-company"
                      name="f-company"
                      class="form-input"
                      placeholder="Enter your company"
                      type="text"
                      required
                    />
                  </div>
                </div>

                <div class="col-12">
                  <div class="mb-6">
                    <label for="cars" class="form-label">Choose a Option:</label
                    >
                    <select name="cars" id="cars" class="form-input">
                      <option value="option-1">Option 1</option>
                      <option value="option-2">Option 2</option>
                      <option value="option-3">Option 3</option>
                      <option value="option-4">Option 4</option>
                    </select>
                  </div>
                </div>
                <div class="col">
                  <button type="submit" class="btn btn-primary w-full">
                    Send Message
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="col-12 md:col-6 pb-16" data-aos="fade-up-sm">
          <h2
            class="text-[20px] font-normal mb-12 text-balance"
            set:html={markdownify(feature.title)}
          />

          {
            feature.features.map((feature: any) => (
              <li class="flex items-center mb-6">
                <Icon name={feature.icon} class="mr-3 text-[18px]" />
                <p
                  set:html={markdownify(feature.name)}
                  class="font-medium text-[18px]"
                />
              </li>
            ))
          }
        </div>
      </div>
    </div>
  </section>
  <CallToAction cta={cta.data} />
</Base>
