---
import Brand from "@/layouts/components/Brand.astro";
import Review from "@/layouts/components/homepage/Review.astro";
import Plans from "@/layouts/components/pricing/Plans";
import Base from "@/layouts/Base.astro";
import Compare from "@/layouts/components/pricing/Compare.astro";
import { markdownify } from "@/lib/utils/textConverter";
import CallToAction from "@/partials/CallToAction.astro";
import { getEntry, type CollectionEntry } from "astro:content";

const pricing = (await getEntry("pricing", "-index")) as CollectionEntry<"pricing">;
const { title, meta_title, description, hero, plans, compare, review } =
  pricing.data;

const cta = (await getEntry("ctaSection", "call-to-action")) as CollectionEntry<"ctaSection">;
---

<Base title={title} meta_title={meta_title} description={description} image="">
  <section class="section pb-0" data-aos="fade-up-sm" data-aos-delay="100">
    <div class="container">
      <h1
        set:html={markdownify(hero.title)}
        class="max-xl:h2 text-center mb-6"
      />
      <p
        set:html={markdownify(hero.content)}
        class="text-center text-balance text-text/70"
      />
    </div>
  </section>

  <Brand data-aos="fade-up-sm" data-aos-delay="200" />

  <section class="section pt-0" data-aos="fade-up-sm" data-aos-delay="300">
    <div class="container">
      <hr class="w-full" />
    </div>
  </section>

  <Plans plans={plans} client:load data-aos="fade-up-sm" data-aos-delay="400" />

  <Compare compare={compare} data-aos="fade-up-sm" data-aos-delay="500" />

  <section class="section">
    <div class="container">
      <div
        class="row max-lg:justify-center items-end mb-16"
        data-aos="fade-up-sm"
        data-aos-delay="600"
      >
        <div class="col-12 lg:col-7">
          <h2
            set:html={markdownify(review.title)}
            class="max-xl:h3 max-lg:text-center"
          />
        </div>
        <div class="col-12 lg:col-5">
          <p
            set:html={markdownify(review.content)}
            class="text-xl text-text/70 max-lg:text-center"
          />
        </div>
      </div>
      <Review />
    </div>
  </section>

  <CallToAction cta={cta.data} />
</Base>
